<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src='https://powernetco.com/files/2018-04/icon-healthcare.png'
            style="width:50px;height:50px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <!-- <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/clinics']">Cancel 
                    <span class="sr-only">(current)</span></a> -->

            </li>

        </ul>

    </div>
</nav>

<div class="container">

    <h4>Create new appointment:</h4>
    <form class="needs-validation" novalidate (ngSubmit)="onSubmit()">
        <h5>You choose:</h5>
        <p>Clinic: {{this.imeKlinike}}</p>
        <p>Doctor: {{this.doctor.firstName}}</p>
        <p>Date: {{this.datumZakazivanja}}</p>
        <p>Time: {{this.vremeZakazivanja}}</p>
        <div class="form-group">
            <label for="duration">Duration (hours):</label>
            <textarea class="form-control" rows="1" placeholder="1" [(ngModel)]="this.appointment.duration"
                name="clinicDuration" id="duration"></textarea>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" rows="5" placeholder="Description" [(ngModel)]="this.appointment.description"
                name="clinicDescription" id="description"></textarea>
        </div>

        <button class="btn btn-success" type="submit">Create new appointment</button>
    </form>
</div>
<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <b>Tim 52</b>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
