<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src= 'https://powernetco.com/files/2018-04/icon-healthcare.png' 
      style="width:50px;height:50px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/profileClinicCenterAdmin']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/profileClinicCenterAdmin']">Profile<span class="sr-only">(current)</span></a>
        </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </div>
</nav>
    <div class="container" >
            <div class="card border-light mb-3" style="width: 18rem;" id="form">
                <ul class="list-group list-group-flush" id="options">
                    <li class="list-group-item"><a href="#" routerLinkActive='active' [routerLink]="['/patients']">Patients</a></li>
                    <li class="list-group-item"><a href="#" routerLinkActive='active'>Calendar</a></li>
                    <li class="list-group-item"><a style="color: dodgerblue;" (click)="change()" routerLinkActive='active'>Request Holiday</a></li>
                    <li class="list-group-item"><a href="#" routerLinkActive='active'>Authentication recipe</a></li>
                </ul>
            </div>

            <div *ngIf="this.isButtonVisible">
              <form id="form" style="width: 18rem;">
                <h6>Holiday Request</h6>
                <div class="form-group">
                  <mat-form-field>
                      <input matInput type="datetime-local"  [(ngModel)]="holidayRequest.dateStart"  name="dateStart" placeholder="start date">
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field>
                      <input matInput type="datetime-local"  [(ngModel)]="holidayRequest.dateEnd"  name="dateEnd" placeholder="end date">
                  </mat-form-field>
                </div>
                  <button type="submit" (click)="sendHolidayRequest()" class="btn btn-primary">Send Request</button>
                </form>
            </div>

    </div>
  
  <!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <b>Tim 52</b>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->