
<div class="container">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add doctors to surgery</h5>
        <button type="button" class="close"  data-dismiss="modal" (click)="onClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>     
     
      <div class="form-group" >
      <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

        
        <div *ngFor="let data of doctors; let i=index" class="form-control">
          <label class="checkbox-inline">
            <input type="radio" [value]="data.id" name="doctorRadio" formControlName="doctorRadio" (change)="onCheckboxChange($event)" />
            {{data.firstName}} {{data.lastName}}
          </label>
        </div>
      
        <p class="error" *ngIf="this.form.controls['checkArray'].errors?.required">
          Checkbox is required, select atleast one value.
        </p>
      
        
      
      <div *ngIf="this.noDoctors">No available doctors.</div>
    

    <div class="modal-footer">
        <input class="btn btn-success" *ngIf="!this.form.controls['checkArray'].errors?.required" type="submit" value="Add doctors"> 
    </div>
</form>
</div>
</div>
