<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src='https://powernetco.com/files/2018-04/icon-healthcare.png'
            style="width:50px;height:50px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/doctorHomePage']">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/doctorHomePage']">Profile<span
                        class="sr-only">(current)</span></a>
            </li>

        </ul>

        <app-logout></app-logout>
    </div>

    <!--  <mat-sidenav-container>
        <mat-sidenav #appDrawer mode="over" opened="false">
          <mat-nav-list>
            <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
          </mat-nav-list>
        </mat-sidenav>
        <app-top-nav fxHide.xs></app-top-nav>
        <router-outlet></router-outlet>
        <div fxFlex></div>
        <span class="version-info">Current build: {{version.full ? version.full : version}}</span>
      </mat-sidenav-container> -->
</nav>

<div class="container" fxLayout="row" fxLayoutAlign="center center"
    style="margin-top: 20px; height: 100vh; width: 100vh">

    <h4>Enter data for new doctor:</h4>
    <form [formGroup]="form3" (ngSubmit)="onSubmit() && form3.valid" class="needs-validation" novalidate
        (ngSubmit)="onSubmit()">


        <div class="form-group">
            <label for="duration"> Username :</label>
            <textarea formControlName="Username"
                [ngClass]="{'is-invalid': form3.get('Username').touched && form3.get('Username').invalid}"
                class="form-control" rows="1" placeholder="username" [(ngModel)]="doctor.username"
                name="clinicDescription" id="description"></textarea>
        </div>
        <div class="form-group">
            <label for="firstNameCA">First name:</label>
            <textarea formControlName="firstNameCA"
                [ngClass]="{'is-invalid': form3.get('firstNameCA').touched && form3.get('firstNameCA').invalid}"
                class="form-control" rows="2" placeholder="first-name" [(ngModel)]="doctor.firstName" name="firstNameCA"
                id="description"></textarea>
        </div>

        <div class="form-group">
            <label for="lastNameCA">Last name:</label>
            <textarea formControlName="lastNameCA"
                [ngClass]="{'is-invalid': form3.get('lastNameCA').touched && form3.get('lastNameCA').invalid}"
                class="form-control" rows="2" placeholder="last-name" [(ngModel)]="doctor.lastName" name="lastNameCA"
                id="description"></textarea>
        </div>

        <div class="form-group">
            <label for="cityCA">City:</label>
            <textarea formControlName="cityCA"
                [ngClass]="{'is-invalid': form3.get('cityCA').touched && form3.get('cityCA').invalid}"
                class="form-control" rows="2" placeholder="city" [(ngModel)]="doctor.city" name="cityCA"
                id="description"></textarea>
        </div>

        <div class="form-group">
            <label for="countryCA">Country:</label>
            <textarea formControlName="countryCA"
                [ngClass]="{'is-invalid': form3.get('countryCA').touched && form3.get('countryCA').invalid}"
                class="form-control" rows="2" placeholder="country" [(ngModel)]="doctor.country" name="countryCA"
                id="description"></textarea>
        </div>

        <div class="form-group">
            <label for="emailCA">Email :</label>
            <textarea formControlName="emailCA"
                [ngClass]="{'is-invalid': form3.get('emailCA').touched && form3.get('emailCA').invalid}"
                class="form-control" rows="2" placeholder="email" [(ngModel)]="doctor.email" name="emailCA"
                id="description"></textarea>
        </div>

        <div class="form-group">
            <label for="jmbgCA">Unique number :</label>
            <textarea formControlName="jmbgCA"
                [ngClass]="{'is-invalid': form3.get('jmbgCA').touched && form3.get('jmbgCA').invalid}"
                class="form-control" rows="2" placeholder="unique-number" [(ngModel)]="doctor.jmbg" name="jmbgCA"
                id="description"></textarea>
        </div>

        <div class="form-group">
            <label for="addressCA">Address :</label>
            <textarea formControlName="addressCA"
                [ngClass]="{'is-invalid': form3.get('addressCA').touched && form3.get('addressCA').invalid}"
                class="form-control" rows="2" placeholder="address" [(ngModel)]="doctor.address" name="addressCA"
                id="description"></textarea>
        </div>

        <div class="form-group">
            <label for="Start">Start of working hours :</label>
            <textarea formControlName="Start"
                [ngClass]="{'is-invalid': form3.get('Start').touched && form3.get('Start').invalid}" class="
                form-control" rows="2" placeholder="start" [(ngModel)]="doctor.pocetakRadnogVremena" name="Start"
                id="description"></textarea>
        </div>

        <div class="form-group">
            <label for="End">End of working hours :</label>
            <textarea formControlName="End"
                [ngClass]="{'is-invalid': form3.get('End').touched && form3.get('End').invalid}" class=" form-control"
                rows="2" placeholder="end" [(ngModel)]="doctor.krajRadnogVremena" name="End"
                id="description"></textarea>
        </div>

        <div class="form-group">
            <label for="mobileNumberCA">Mobile number :</label>
            <textarea formControlName="mobileNumberCA"
                [ngClass]="{'is-invalid': form3.get('mobileNumberCA').touched && form3.get('mobileNumberCA').invalid}"
                class="form-control" rows="2" placeholder="mobile-number" [(ngModel)]="doctor.mobileNumber"
                name="mobileNumberCA" id="description"></textarea>
        </div>

        <div class="form-group">
            <label for="Password">Password :</label>
            <textarea formControlName="Password"
                [ngClass]="{'is-invalid': form3.get('Password').touched && form3.get('Password').invalid}"
                class="form-control" rows="2" placeholder="password" [(ngModel)]="doctor.password" name="Password"
                id="Password"></textarea>
        </div>

        <button [disabled]="!form3.valid" class="btn btn-success" type="submit">Add doctor</button>
    </form>
</div>
<!-- Footer -->