<div class="container">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Change clinic address</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="onClose()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="form-group">


        <div>
            <label for="duration"> Address :</label>
            <textarea class="form-control"  rows="1" placeholder="1" name="clinicDescription" id="description"
                [(ngModel)]="mapData.address"></textarea>

            <label for="duration"> Longitude :</label>
            <textarea class="form-control"  rows="1" placeholder="1" name="clinicLong" id="description"
                [(ngModel)]="mapData.longitude"></textarea>

            <label for="duration"> Latitude :</label>
            <textarea rows="1" class="form-control"  placeholder="1" name="clinicLat" id="description"
                [(ngModel)]="mapData.latitude"></textarea>
                <input class="btn btn-success" style="margin: 10px;" value="Change" (click)=change()>
                <input class="btn btn-alert" style="margin: 10px;" value="Cancel" (click)="onClose()">
        </div>
       

    </div>

</div>