<div class= "container"  >

    <h4>Recipes:</h4>
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>Description</th>
              <th>Drug</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor='let recipe of recipes'>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.description }}</td>
                <td>{{ recipe.drug_id}}</td>
                <td><a class="btn btn-outline-success" (click)="authRecipe(recipe)" style="font-size: 14px;">Auth recipe</a></td>
              </tr>
            </tbody>
    </table>
    <div>
