<div class="limiter" *ngIf="this.isVisible">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <h2 class="form-title p-b-26">
                    Welcome
                </h2>
                <div id="errorMessage" class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
                <div id="successMessage" class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
                <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                    <input id="email" class="input100" type="text" name="email" placeholder="Username" [(ngModel)]="user.username">
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <input id="password" class="input100" type="password" name="pass" placeholder="Password" [(ngModel)]="user.password">
                </div>

                <button id="loginButton" type="submit" name="submit" class="form-submit" value="Login" (click)="login()">LOGIN</button>

                <div class="text-center p-t-115 dhaa">
                    <span class="form-title">
                        Don’t have an account?
                    </span>

                    <a class="form-title" href="#"  (click)="change(false)" routerLinkActive='active' [routerLink]="['/registration']">
                        <!-- (click)="change(false)" -->
                        Sign Up
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>