<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src='https://powernetco.com/files/2018-04/icon-healthcare.png'
      style="width:50px;height:50px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/doctorHomePage']">Home <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/doctorHomePage']">Profile<span
            class="sr-only">(current)</span></a>
      </li>

    </ul>

    <app-logout></app-logout>
  </div>

</nav>
<div class="container text-center">
  <h1>{{title}}</h1>
</div>

<mat-form-field style="margin: 10px;">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td colspan="2" mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

        <div class="example-element-description">

          <div class="container">
            <div class="row">

              

                <label for="description">New name for this type:</label>
                <textarea class="form-control" rows="1" placeholder="{{element.name}}" name="clinicDescription"
                  [(ngModel)]="changeType.name" id="description"></textarea>


              
            </div>
            <div class="row">
              <button style="margin: 10px;" class="button button2" type="submit" (click)="modifyType(element)">Modify
                data</button>
              <button (click)="deleteType(element)" class="button button2" style="margin: 10px;">Delete this
                type</button>
            </div>
          </div>

        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>


<button style="margin: 10px;" (click)="change()" class="button button2">Add new type</button>

<div class="container" *ngIf="this.isButtonVisible">
  <div class="row">
    <div class="col-4">

      <label for="description">New type:</label>
      <textarea class="form-control" rows="1" placeholder="Enter name" name="clinicDescription"
        [(ngModel)]="newType.name" id="description"></textarea>
    </div>
  </div>
  <div class="row" style="text-align: center;">
    <div class="col-4">
      <button style="width: 40%;
          margin-left: 30%;
          margin-right: 30%;
          margin-top: 10px;" class="button button2" type="submit" (click)="addType()">Submit</button>
    </div>
  </div>

</div>
<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <b>Tim 52</b>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->