<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src= 'https://powernetco.com/files/2018-04/icon-healthcare.png' 
        style="width:50px;height:50px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/clinics']">Back <span class="sr-only">(current)</span></a>
      
        </li>
        
      </ul>
      
    </div>
  </nav>

 
  <div class="container">
    <div >
      <h3 style="padding-bottom: 10px; padding-top: 20px;">
        You choose {{ this.imeKlinike }} clinic.
      </h3>
      <div class="search-hero">
        <input class="form-control " type="search"  name="search" [(ngModel)]="searchText" 
          placeholder="Search doctors by name, last name or rating" style="width: 450px; margin: 10px;">
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Last name</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doctor of doctors | filter:searchText">
            <td>{{doctor.firstName}}</td>
            <td>{{doctor.lastName}}</td>
            <td>{{doctor.review}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <!-- Footer -->
  <footer class="page-footer font-small special-color-dark pt-4">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <b>Tim 52</b>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
