<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src= 'https://powernetco.com/files/2018-04/icon-healthcare.png' 
        style="width:50px;height:50px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/patient-home-page']">Home <span class="sr-only">(current)</span></a>
      
        </li>
        
      </ul>
      
    </div>
  </nav>

<div class= "container"  >

  <h4 style="margin-top: 2em;">Appointments:</h4>
  <table class="table table-hover"  >
      <thead class="thead-light">
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Description</th>
            <th>Duration</th>
            <th>Type</th>
            <!-- <th>Doctor</th>
            <th>Hospital room</th> -->
          </tr>
        </thead>
        <tbody>
            <tr *ngFor='let appointment of appointments1'>
              <td>{{ appointment?.date.split("T")[0] }}</td>
              <td>{{ appointment?.date.split("T")[1] }}</td>
              <td>{{ appointment?.description }}</td>
              <td>{{ appointment?.duration }}</td>
              <td>{{ appointment?.type }}</td>
              <!-- <td>{{ appointment.doctor.firstName }}</td>
              <td>{{ appointment.hospitalRoom.name }}</td> -->
            </tr>
          </tbody>
  </table>
 
  
</div>
<div class= "container"  >

    <h4>Operations:</h4>
    <table class="table table-hover" >
        <thead class="thead-light">
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor='let surgery of surgeries1'>
                <td>{{ surgery?.date.split("T")[0] }}</td>
                <td>{{ surgery?.date.split("T")[1] }}</td>
                <td>{{ surgery?.description }}</td>
              </tr>
            </tbody>
    </table>
   
    
</div>

<div class= "container">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="opening-hours">
        <h2 class="d-flex align-items-center">About you: </h2>

        <ul class="p-0 m-0">
            <li>Blood type: <span> {{medicalRecordEdit?.bloodType}}</span></li>
            <li>Diopter: <span>{{medicalRecordEdit?.diopter}}</span></li>
            <li>Height: <span>{{medicalRecordEdit?.height}} cm</span></li>
            <li>Weight: <span>{{medicalRecordEdit?.weight}} kg</span></li>
        </ul>
    </div>
  </div>
</div>

  <!-- Footer -->
  <footer class="page-footer font-small special-color-dark pt-4">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <b>Tim 52</b>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

