<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src= 'https://powernetco.com/files/2018-04/icon-healthcare.png' 
        style="width:50px;height:50px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/clinics']">Back <span class="sr-only">(current)</span></a>
      
        </li>
        
      </ul>
      
    </div>
  </nav>

 
  <div style="padding-top: 10px;" class= "container"  >
    <h4>Choose already scheduled appointments:</h4>
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Hospital room</th>
              <th>Doctor</th>
              <th>Type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor='let app of appointments'>
                <td>{{ app.date.split('T')[0] }}</td>
                <td>{{ app.date.split('T')[1] }}</td>
                <td>{{ app.hospitalRoom.name }}</td> 
                <td>{{ app.doctor.firstName }}</td>
                <td>{{ app.type }}</td>
                <td><a class="btn btn-outline-success" (click)="scheduleApp(app)" style="font-size: 14px; ">reserve</a></td>
              </tr>
            </tbody>
    </table>

    </div>



  <!-- Footer -->
  <footer class="page-footer font-small special-color-dark pt-4">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <b>Tim 52</b>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
