<div >

  <form id="form" style="width: 18rem;" >
      <h6>Holiday Request</h6>
      <div class="form-group">
        <input type="text" ngbDatepicker #d="ngbDatepicker" [minDate]="{year: this.year, month: this.month, day: this.day}"  [(ngModel)]="this.date1" name="dateStart"/>
        <button class="btn btn-secondary btn-sm" (click)="d.toggle()">Start date</button>
      </div>
      <div class="form-group">
        <input type="text" ngbDatepicker #d1="ngbDatepicker" [(ngModel)]="this.date2" [minDate]="this.date1"  name="dateEnd"/>
        <button class="btn btn-secondary btn-sm" (click)="d1.toggle()">End date</button>
      </div>
        <button type="submit" (click)="sendHolidayRequest()" class="btn btn-primary">Send Request</button>
  </form>
</div>
