<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src='https://powernetco.com/files/2018-04/icon-healthcare.png'
            style="width:50px;height:50px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/cadmin-home-page']">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/profileClinicCenterAdmin']">Profile<span class="sr-only">(current)</span></a>
                </li>

        </ul>

        <app-logout></app-logout>
    </div>

   <!--  <mat-sidenav-container>
        <mat-sidenav #appDrawer mode="over" opened="false">
          <mat-nav-list>
            <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
          </mat-nav-list>
        </mat-sidenav>
        <app-top-nav fxHide.xs></app-top-nav>
        <router-outlet></router-outlet>
        <div fxFlex></div>
        <span class="version-info">Current build: {{version.full ? version.full : version}}</span>
      </mat-sidenav-container> -->
</nav>

<div class="container" fxLayout="row" fxLayoutAlign="center center" style="margin-top: 20px; height: 100vh; width: 100vh">

    <h4>Enter data for new room:</h4>
    <form class="needs-validation" novalidate (ngSubmit)="onSubmit()">


        <div class="form-group">
            <label for="duration">Hospital room number :</label>
            <textarea class="form-control" rows="1" placeholder="1" [(ngModel)]="room.room_number"
                name="clinicDescription" id="description"></textarea>
        </div>
        <div class="form-group">
            <label for="description">Hospital room name:</label>
            <textarea class="form-control" rows="2" placeholder="Name" [(ngModel)]="room.name"
                name="clinicDescription" id="description"></textarea>
        </div>

        <button class="btn btn-success" type="submit">Add room</button>
    </form>
</div>
    <!-- Footer -->
    <footer class="page-footer font-small special-color-dark pt-4">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <b>Tim 52</b>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->
