<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src='https://powernetco.com/files/2018-04/icon-healthcare.png'
            style="width:50px;height:50px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/cadmin-home-page']">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/cadmin-home-page']">Profile<span
                        class="sr-only">(current)</span></a>
            </li>

        </ul>

        <app-logout></app-logout>
    </div>

</nav>
  <div class="container">
    <div class="row">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Date</th>
          <th>Duration</th>
          <th>Description</th>
          <th>Patient</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let surgery of surgeries">
            <td>{{surgery.date}}</td>
            <td>{{surgery.duration}}</td>
            <td>{{surgery.description}}</td>
            <td>{{surgery.patient}}</td>
            <td>
                <button class="btn btn-outline-success">Add room</button>
            </td>
        </tr>
        </tbody>
      </table>
    </div>
    
  </div>


<div class="container text-center">
    <h1>{{title}}</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a room by name or room number">
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Number</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let room of rooms | filter:searchText" (click)="change(patient)">
          <td>{{room.name}}</td>
          <td>{{room.room_number}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    
  </div>
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <b>Tim 52</b>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
