<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src='https://powernetco.com/files/2018-04/icon-healthcare.png'
            style="width:50px;height:50px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/cadmin-home-page']">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/cadmin-home-page']">Profile<span
                        class="sr-only">(current)</span></a>
            </li>

        </ul>

        <app-logout></app-logout>
    </div>

</nav>
  <div class="container">
    <div class="row">
      <h2>Surgeries</h2>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Date</th>
          <th>Duration</th>
          <th>Description</th>
          <th>Patient</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let surgery of surgeries">
            <td> <mat-form-field>
              <input matInput type="datetime-local" value="{{surgery.date}}" [readonly]="!editable"  name="dateAppointment" placeholder="operation date">
          </mat-form-field></td>
            <td>{{surgery.duration}}</td>
            <td>{{surgery.description}}</td>
            <td>{{surgery.patient}}</td>
            <td>
                <button class="btn btn-outline-success" (click)="addRoom(surgery)">Add room</button>
            </td>
        </tr>
        </tbody>
      </table>
    </div>
    
  </div>


<div *ngIf="this.addRoomClicked" class="container">
    <h4>Available hospital rooms for surgeryID: #{{clickedSurgery.id}}
    <mat-form-field>
      <input matInput type="datetime-local" value="{{clickedSurgery.date}}" [readonly]="!editable"  name="dateAppointment">
    </mat-form-field> 
  </h4>
  <div *ngIf="this.showMessage">No available room for that specific time, choose another one:</div>
    
      <div *ngIf="!this.showMessage" class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a room by name or room number">
      </div>
      <div  *ngIf="!this.showMessage" class="row">
 
          <div class="card col-4-ld mr-4 mt-4" *ngFor="let room of rooms | filter:searchText" style="width: 14rem;margin: 10px;">
            <img class="card-img-top"
                src="https://imageog.flaticon.com/icons/png/512/608/608888.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
                alt="Card image cap">

            <div class="card-body text-center">
                <h5 class="card-title">{{room.name}}</h5>
                <h6>No. {{room.room_number}}</h6>
                <p class="card-text">
                </p>
                <button class="btn btn-outline-success" (click)="chooseDoctor(room.id)">Choose this room</button>
            </div>
          </div> 
      </div>
      
      <div  *ngIf="this.showMessage" class="row">
 
        <div class="card" style="width: 20rem;margin: 10px;">
          <img class="card-img-top"
              src="https://imageog.flaticon.com/icons/png/512/608/608888.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
              alt="Card image cap">

          <div class="card-body text-center">
              <h5 class="card-title">{{availableRoom.name}}</h5>
              <h6>No. {{availableRoom.room_num}}</h6>
              <p class="card-text">
                <mat-form-field>
                  <input matInput type="datetime-local" value="{{availableRoom.date}}" [readonly]="!editable"  name="dateAppointment">
                </mat-form-field>
              </p>
              <button class="btn btn-outline-success" (click)="chooseDoctor2(availableRoom.id)">Choose this room</button>
          </div>
        </div> 
    </div>
      


    </div>
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <b>Tim 52</b>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
