<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src= 'https://powernetco.com/files/2018-04/icon-healthcare.png' 
        style="width:50px;height:50px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/patient-home-page']">Home <span class="sr-only">(current)</span></a>
      
        </li>
        
      </ul>
      
    </div>
  </nav>

<div style="padding-top: 10px;" class= "container"  >

  <h4>All clinics:</h4>
  <table class="table table-hover" matSort (matSortChange)="sortData($event)">
      <thead class="thead-light">
          <tr>
            <th>#</th>
            <th mat-sort-header="name">Name</th>
            <th mat-sort-header="address">Address</th>
            <th mat-sort-header="description">Description</th>
            <th mat-sort-header="profit">Profit</th>
            <th mat-sort-header="pricelist">Pricelist</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor='let clinic of clinics'>
              <td>{{ clinic.id }}</td>
              <td>{{ clinic.name }}</td>
              <td>{{ clinic.address }}</td>
              <td>{{ clinic.description }}</td>
              <td>{{ clinic.profit }}</td>
              <td>{{ clinic.pricelist }}</td>
            </tr>
          </tbody>
  </table>
 
  <form class="needs-validation" novalidate (ngSubmit)="onSubmit()" style="padding-bottom: 20px;">
      <div style="background-color: rgb(217, 236, 236, 0.7); padding: 2em; border-radius: 10px;">
        <h3 style="padding-bottom: 20px;">
          Search for available clinics:
        </h3>

        <div class="form-group">
          <mat-form-field>
              <input matInput type="date" min="{{ this.now }}" [(ngModel)]="appointment.date"  name="dateAppointment"  placeholder="Search date for appointment" >
          </mat-form-field>
          <br>
          <small *ngIf='flagForSearch' style="color: red;">DATE and TIME is required!</small>
        </div>

        <div class="form-group">
          <label>Type:</label>
          <input class="form-control" placeholder="Type for search" [(ngModel)]="appointment.type"
              name="typeAppointment" id="typeAppointment">
        </div>

        <button class="btn btn-success" type="submit" >Search</button>
    </div>
</form>

<table *ngIf='flagForSearchTable' class="table table-hover" matSort (matSortChange)="sortData1($event)">
  <thead class="thead-light">
      <tr>
        <th>#</th>
        <th mat-sort-header="name">Name</th>
        <th mat-sort-header="address">Address</th>
        <th mat-sort-header="description">Description</th>
        <th mat-sort-header="profit">Profit</th>
        <th mat-sort-header="pricelist">Rating</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor='let clinic1 of clinics1'>
          <td>{{ clinic1.id }}</td>
          <td class="imeKlinike" ><a (click)="klinika(clinic1)" href="#" routerLinkActive='active' [routerLink]="['/doctorsList']">{{ clinic1.name }}</a></td>
          <td>{{ clinic1.address }}</td>
          <td>{{ clinic1.description }}</td>
          <td>{{ clinic1.profit }}</td>
          <td>{{ clinic1.rating }}</td>
        </tr>
      </tbody>
</table>

</div>


  <!-- Footer -->
  <footer class="page-footer font-small special-color-dark pt-4">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <b>Tim 52</b>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
