<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLinkActive='active' [routerLink]="['/doctorHomePage']" href="#"><img src= 'https://powernetco.com/files/2018-04/icon-healthcare.png' 
      style="width:50px;height:50px;"></a>
  <button class="navbar-toggler" type="button" routerLinkActive='active' [routerLink]="['/doctorHomePage']" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/doctorHomePage']">Home <span class="sr-only">(current)</span></a>
      </li>      
    </ul>
  </div>
</nav>
<div class="container text-center">
  <h1>{{title}}</h1>
</div>
<div class="container">
  <div class="row">
    <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="&#61442;  Start searching for a patient by id or name or country" style="width: 450px; margin: 10px;">
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>JMBG</th>
          <th>Patient's username</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients | filter:searchText" (click)="change(patient)">
          <td>{{patient.jmbg}}</td>
          <td>{{patient.username}}</td>
          <td>{{patient.country}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="column">
      <div *ngIf="this.isButtonVisible">
        <div class="container">
          <div class="card text-center mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div  class="card-img-top col-md-4">
                <img style="width:100px;height:100px;margin:30px;"
                  src="https://www.shareicon.net/data/512x512/2016/08/18/814028_people_512x512.png" class="card-img"
                  alt="...">
              </div>
              <div class="col-md-8">
                
                <div class="card-body">
                  <h5 class="card-title">Information</h5>
                  <p class="card-text">First name: {{ selectedPatient.firstName }}</p>
                  <p class="card-text">Last name: {{ selectedPatient.lastName }}</p>
                  <p class="card-text">Email: {{ selectedPatient.email }}</p>
                  <p class="card-text">Address: {{ selectedPatient.address }}</p>
                  <p class="card-text">City: {{ selectedPatient.city }}</p>
                  <p class="card-text">Country: {{ selectedPatient.country }}</p>
                  <p class="card-text">Mobile number: {{ selectedPatient.mobileNumber }}</p>
                  <p class="card-text">Insurance number: {{ selectedPatient.jmbg }}</p>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button type="button" (click)="viewMedRecord()" class="btn btn-outline-info">View medical record</button>           
             </div>
           
          </div>

        </div>
      </div>
    </div>
    <div class="column">
      <div *ngIf="this.isButtonVisible2">
        <div class="container">
          <h4>Appointments:</h4>
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Type</th>
                <th>Doctor</th>
                <th></th>
                <!-- <th>Doctor</th>
              <th>Hospital room</th>
              <th>Recipe</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let appointment of appointments'>
                <td>{{ appointment?.date }}</td>
                <td>{{ appointment?.description }}</td>
                <td>{{ appointment?.duration }}</td>
                <td>{{ appointment?.type }}</td>
                <td>{{ appointment?.doctorUsername }}</td>
                <th *ngIf="appointment.start"><button routerLinkActive='active' [routerLink]="['/appointment-report', appointment.id]" (click)="startApp(appointment.id)" class="btn btn-success">Start</button></th>
                <!-- <td>{{ appointment.doctor }}</td>
                <td>{{ appointment.hospitalRoom }}</td>
                <td>{{ appointment.recipe }}</td> -->
              </tr>
            </tbody>
          </table>


        </div>
        <div class="container">

          <h4>Surgeries:</h4>
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>Date</th>
                <th>Description</th>
                <!-- <th>Doctor</th>
                <th>Hospital room</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let surgery of surgeries1'>
                <td>{{ surgery?.date }}</td>
                <td>{{ surgery?.description }}</td>
              </tr>
            </tbody>
          </table>


        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <b>Tim 52</b>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->