<div class="container text-center">
  <h1>{{title}}</h1>
</div>
<div class="container">
  <div class="row">
    <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="&#61442;  Start searching for a patient by id or name or country" style="width: 450px; margin: 10px;">
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>JMBG</th>
          <th>Patient's username</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients | filter:searchText" (click)="change(patient)">
          <td>{{patient.jmbg}}</td>
          <td>{{patient.username}}</td>
          <td>{{patient.country}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="column">
      <div *ngIf="this.isButtonVisible">
        <div class="container">
          <div class="card" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img style="width:100px;height:100px;margin:30px;"
                  src="https://www.shareicon.net/data/512x512/2016/08/18/814028_people_512x512.png" class="card-img"
                  alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Information</h5>
                  <p class="card-text">First name: {{ selectedPatient.firstName }}</p>
                  <p class="card-text">Last name: {{ selectedPatient.lastName }}</p>
                  <p class="card-text">Email: {{ selectedPatient.email }}</p>
                  <p class="card-text">Address: {{ selectedPatient.address }}</p>
                  <p class="card-text">City: {{ selectedPatient.city }}</p>
                  <p class="card-text">Country: {{ selectedPatient.country }}</p>
                  <p class="card-text">Mobile number: {{ selectedPatient.mobileNumber }}</p>
                  <p class="card-text">Insurance number: {{ selectedPatient.jmbg }}</p>
                </div>
              </div>
            </div>
            <button type="button" (click)="viewMedRecord()" class="btn btn-outline-info">View medical record</button>
          </div>

        </div>
      </div>
    </div>
    <div class="column">
      <div *ngIf="this.isButtonVisible2">
        <div class="container">
          <h4>Appointments:</h4>
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Type</th>
                <!-- <th>Doctor</th>
              <th>Hospital room</th>
              <th>Recipe</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let appointment of appointments1'>
                <td>{{ appointment?.date }}</td>
                <td>{{ appointment?.description }}</td>
                <td>{{ appointment?.duration }}</td>
                <td>{{ appointment?.type }}</td>
                <!-- <td>{{ appointment.doctor }}</td>
                <td>{{ appointment.hospitalRoom }}</td>
                <td>{{ appointment.recipe }}</td> -->
              </tr>
            </tbody>
          </table>


        </div>
        <div class="container">

          <h4>Operations:</h4>
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>Date</th>
                <th>Description</th>
                <!-- <th>Doctor</th>
                <th>Hospital room</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let surgery of surgeries1'>
                <td>{{ surgery?.date }}</td>
                <td>{{ surgery?.description }}</td>
              </tr>
            </tbody>
          </table>


        </div>
      </div>
    </div>
  </div>
</div>