<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLinkActive='active' [routerLink]="['/doctorHomePage']" href="#"><img src= 'https://powernetco.com/files/2018-04/icon-healthcare.png' 
        style="width:50px;height:50px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/doctorHomePage']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/doctorHomePage']">Profile<span class="sr-only">(current)</span></a>
          </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
  </nav>

    <h2 style="margin: 30px;" class="text-center">Medicall staff</h2>
    <div class="container">
        <div class="card" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img  style="width:100px;height:100px;margin:30px;" src="https://www.shareicon.net/data/512x512/2016/08/18/813847_people_512x512.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Information</h5>. 
                  <p class="card-text">Username : {{user.username}} </p>
                  <p class="card-text">First name: {{doctor.firstName}} </p>
                  <p class="card-text">Last name: {{doctor.lastName}} </p>
                  <p class="card-text">Email: {{doctor.email}} </p>
                  <p class="card-text">Address: {{doctor.address}} </p>
                  <p class="card-text">City : {{doctor.city}} </p>
                  <p class="card-text"> Country : {{doctor.country}} </p>
                  <p class="card-text">Mobile number : {{doctor.mobileNumber}} </p>
                  <p class="card-text"> Unique number : {{doctor.jmbg}} </p>
                  <!-- <p class="card-text">Clinic: UMD Urgent Care Williamsburg</p> -->
                 
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-outline-info" (click)="change(true)">Change password</button>
            <button type="button" class="btn btn-outline-info" (click)="change2(true)">Change information</button>
          </div>
          
    </div>

    <div *ngIf="this.isButtonVisible">
        
        <form id="newform"style="max-width: 540px;">
            <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
            <div class="form-group">
              <label for="oldPassword">Old password</label>
              <input type="password" class="form-control" [(ngModel)]="newDoctor.oldPassword" name="oldPassword" aria-describedby="emailHelp" placeholder="Enter old password">
            </div>
            <div class="form-group">
              <label for="newPassword">New password</label>
              <input type="password" [(ngModel)]="newDoctor.password" class="form-control" name="newPassword" placeholder="Enter new password">
            </div>
            <button type="submit" (click)="submitNewInfo()" class="btn btn-primary">Change password</button>
          </form>
    </div>

    <div *ngIf="this.isButtonVisible2">
        <form id="newform"style="max-width: 540px;">
            <div class="form-group">
              <label for="name">First name</label>
              <input type="text" [(ngModel)]="newDoctor.firstName"  name="newName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter new first name">
            </div>
            <div class="form-group">
              <label for="last">Last name</label>
              <input type="text" class="form-control"  [(ngModel)]="newDoctor.lastName"  name="newLast" placeholder="Enter new last name">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" [(ngModel)]="newDoctor.city" name="newCity" placeholder="Enter new city">
              </div>
              <div class="form-group">
                <label for="country">Country</label>
                <input type="text" [(ngModel)]="newDoctor.country"  name="newCountry" class="form-control"   placeholder="Enter new country">

              </div>
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" [(ngModel)]="newDoctor.email"  name="newEmail" class="form-control" placeholder="Enter new email">
                  <small id="emailHelp" class="form-text text-muted">Enter new email.</small>
                </div>
                <div class="form-group">
                    <label for="phone">Mobile phone</label>
                    <input type="number" class="form-control" [(ngModel)]="newDoctor.mobileNumber" name="newPhone" placeholder="Enter new phone number">
                  </div>
            <button type="submit" (click)="submitNewInfo()" class="btn btn-primary">Change information</button>
          </form>
    </div>
    
  
    <!-- Footer -->
    <footer class="page-footer font-small special-color-dark pt-4">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <b>Tim 52</b>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->